[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-cloud-bigquery = "*"
python-dotenv = "*"
requests = "*"
openai = "*"
functions-framework = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
